<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registrar usuario</h1>
    <form action="/register" method="POST">
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Register">
    </form>
</body>
</html>
